.catalog
    .catcategory-banner.container
        img(src="img/cat-bg.jpg")
        h1.cat-banner__title Парикмахерский<br> инструмент

    .breadcrumbs.container
        a(href="#") Парикмахерский инструмент
        a(href="#") Ножницы
        span Ножницы 5 категории

    mixin filterModal(id1, txt1, id2, txt2, id3, txt3)
        .filter-block__modal
            .filter-block__check
                input(type="checkbox" id=id1)
                label(for=id1).filter-block__label= txt1

            .filter-block__check
                input(type="checkbox" id=id2)
                label(for=id2).filter-block__label= txt2

            .filter-block__check
                input(type="checkbox" id=id3)
                label(for=id3).filter-block__label= txt3

    mixin filterCheck(id, txt)
        .filter-block__check
            input(type="checkbox" id=id)
            label(for=id).filter-block__label= txt

    .container
        h1.cont-title.cont-title_catalog Прямые ножницы 5+ класс


    .tags.tags_catalog.container
        ul.tags-list
            li
                a(href="#") Дизайнерские
            li
                a(href="#") Для барберов
            li
                a(href="#") Больше 7 дюймов
            li
                a(href="#") Больше 7 дюймов
            li
                a(href="#") Хит продаж

    .container
        form.filter-block(action="#")
            .filter-block__column
                .filter-block__item.filter-block__item_top
                    ul.filter-block__list
                        li
                            span Цена, Руб.
                            .filter-block__modal.filter-block__modal_price
                                .filter-price
                                    .filter-price__inp
                                        input(type="text" placeholder="от").inp
                                        input(type="text" placeholder="до").inp

                                    button(type="submit").filter-price__btn.btn-black Применить
                        li
                            span Модельный ряд
                            +filterModal('1', '440А, HITACHI, Япония, твердость по Роквеллу: 55-57 ед.', '2', '440С, HITACHI, Япония, твердость по Роквеллу: 58-60 ед.', '3', 'VG 10, Hitachi, Япония, твердость по Роквеллу: 60-61 ед.')

                        li
                            span Длина лезвия
                            +filterModal('4', 'test 1', '5', 'test2', '6', 'test3')
                        li
                            span Сталь
                            +filterModal('7', 'test 1', '8', 'test2', '9', 'test3')

                        li
                            span Упор
                            +filterModal('10', 'test 1', '11', 'test2', '12', 'test3')

                        li
                            span Длина лезвия
                            +filterModal('13', 'test 1', '14', 'test2', '15', 'test3')


                .filter-block__item.filter-block__item_bottom
                    ul.filter-block__res
                        li
                            .filter-block__res-item
                                span Съемный
                                .filter-block__res-del
                        //- li
                        //-     .filter-block__res-item
                        //-         span 440А, HITACHI, Япония, твердость по Роквеллу: 55-57 ед.
                        //-         .filter-block__res-del
                        //- li
                        //-     .filter-block__res-item
                        //-         span Съемный
                        //-         .filter-block__res-del
                        //- li
                        //-     .filter-block__res-item
                        //-         span 440А, HITACHI, Япония, твердость по Роквеллу: 55-57 ед.
                        //-         .filter-block__res-del
                        //- li
                        //-     .filter-block__res-item
                        //-         span Съемный
                        //-         .filter-block__res-del
                        //- li
                        //-     .filter-block__res-item
                        //-         span 440А, HITACHI, Япония, твердость по Роквеллу: 55-57 ед.
                        //-         .filter-block__res-del

                    button(type="button").filter-block__clear Очистить

            .filter-block__column
                button(type="submit").filter-block__btn Применить фильтр

        .catalogtop-mob
            .catalogtop-mob__column
                button(type="button").catalogtop-mob__filter-btn Фильтр

            .catalogtop-mob__column
                button(type="button").catalogtop-mob__sort-btn Сортировка

        .cat-sorting
            span.cat-sorting__title Сортировать
            .select.select_sorting
                select
                    option по популярности
                    option цена дешевле
                    option цена дороже
                    option по новинкам
                    option по скидкам

    .product-cont.container
        .product-list
            +productCard
            +productCard('action-tooltip_blue', 'Лучшие отзывы', '10 600 руб.')
            +productCard
            +productCard('action-tooltip_red', 'Sale', '10 600 руб.')

            +productCard
            +productCard('action-tooltip_blue', 'Лучшие отзывы', '10 600 руб.')
            +productCard
            +productCard('action-tooltip_red', 'Sale', '10 600 руб.')

            +productCard
            +productCard('action-tooltip_blue', 'Лучшие отзывы', '10 600 руб.')
            +productCard
            .product-card.product-card_banner
                .product-card__banner
                    a(href="#")
                        img(src="img/prod-banner.jpg")

                        .product-card__banner-article Как выбрать брашинг? Советы профессионалов

            +productCard
            +productCard('action-tooltip_blue', 'Лучшие отзывы', '10 600 руб.')
            +productCard
            +productCard('action-tooltip_red', 'Sale', '10 600 руб.')

    .catalog-rule.container
        button(type="button").btn-more 
            span Показать еще

        .pagination
            ul.pagination__links
                li
                    a(href="#") 1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a(href="#") 4
                li
                    span ...
                li
                    a(href="#") 10

            a(href="#").pagination__arrows.pagination__arrows_next 
            a(href="#").pagination__arrows.pagination__arrows_last

    //- .product-cont.product-cont_item.container
    //-     h2.cont-title Вам может понравиться
    //-     .product-list
    //-         +productCard
    //-         +productCard('action-tooltip_blue', 'Лучшие отзывы', '10 600 руб.')
    //-         +productCard
    //-         +productCard('action-tooltip_red', 'Sale', '10 600 руб.')

    //- .product-cont.product-cont_item.product-cont_watch.container
    //-     h2.cont-title Вы недавно смотрели
    //-     .product-list
    //-         +productCard
    //-         +productCard('action-tooltip_blue', 'Лучшие отзывы', '10 600 руб.')
    //-         +productCard
    //-         +productCard('action-tooltip_red', 'Sale', '10 600 руб.')

    .product-cont.product-cont_item.container
        h2.cont-title Вам может понравиться
        .recom-slider.swiper-container
            .swiper-wrapper
                +actionSliderMain("", "", "10 000 руб.")
                +actionSliderMain("action-tooltip_blue", "Лучшие отзывы", "")
                +actionSliderMain
                +actionSliderMain
                +actionSliderMain


            .swiper-button-next.swiper-button-next-bg
            .swiper-button-prev.swiper-button-prev-bg

    .product-cont.product-cont_item.container
        h2.cont-title Вы недавно смотрели
        .recom-slider.swiper-container
            .swiper-wrapper
                +actionSliderMain("", "", "10 000 руб.")
                +actionSliderMain("action-tooltip_blue", "Лучшие отзывы", "")
                +actionSliderMain
                +actionSliderMain
                +actionSliderMain


            .swiper-button-next.swiper-button-next-bg
            .swiper-button-prev.swiper-button-prev-bg


    .filter-mob.filter-mob_checks
        form.filter-mob__form(action="#")
            .filter-mob__title Прямые ножницы 5+ класс

            button(type="button").filter-mob__close.btn-close

            ul.filter-mob__list
                li
                    span Цена, Руб.
                    .filter-price.filter-mob__item
                        .filter-price__inp
                            input(type="text" placeholder="от").inp
                            input(type="text" placeholder="до").inp
                li
                    span Модельный ряд
                    .filter-mob__item
                        +filterCheck('16', 'Test 1')
                        +filterCheck('17', 'Test 2')
                        +filterCheck('18', 'Test 3')
                li
                    span Длина лезвия
                    .filter-mob__item
                        +filterCheck('19', 'Test 1')
                        +filterCheck('20', 'Test 2')
                        +filterCheck('21', 'Test 3')
                li
                    span Сталь
                    .filter-mob__item
                        +filterCheck('22', '440А, HITACHI, Япония, твердость по Роквеллу: 55-57 ед.')
                        +filterCheck('23', '440С, HITACHI, Япония, твердость по Роквеллу: 58-60 ед.')
                        +filterCheck('24', 'VG 10, Hitachi, Япония, твердость по Роквеллу: 60-61 ед.')
                li
                    span Упор
                    .filter-mob__item
                        +filterCheck('25', 'Test 1')
                        +filterCheck('26', 'Test 2')
                        +filterCheck('27', 'Test 3')

            .filter-mob__btn-wrap
                button(type="submit").btn-black.filter-mob__btn Применить фильтр

    .filter-mob.filter-mob_sort
        form.filter-mob__form(action="#")
            .filter-mob__title Прямые ножницы 5+ класс

            button(type="button").filter-mob__close.btn-close

            ul.filter-mob__sort
                li
                    span Цена дешевле
                li
                    span Цена дешевле
                li
                    span Цена дороже
                li
                    span По новинкам
                li
                    span По скидкам
                li
                    span По популярности
                li
                    span По бренду
                li
                    span По названию

            .filter-mob__btn-wrap
                button(type="submit").btn-black.filter-mob__btn Применить фильтр














